<!DOCTYPE html>
<html>
  <head>
    <title>Заголовок документу</title>
    <meta charset="utf-8" />

    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <div>
      <div>{{name}}</div>
    </div>
  </body>
</html>