<!DOCTYPE html>
<html>
  <head>
    <title>Заголовок документу</title>
    <meta charset="utf-8" />

    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <div>
      {{#with user }}
        <div>{{name}}</div>
        <div>{{../role}}</div>
      {{/with}}
    </div>
  </body>
</html>