<!DOCTYPE html>
<html>
  <head>
    <title>Error</title>
    <meta charset="utf-8" />

    <link rel="stylesheet" href="/test.css">
  </head>
  <body>
    <div>
      {{message}}
    </div>
  </body>
</html>
