<!DOCTYPE html>
<html>
  <head>
    <title>{{pageTitle}}</title>
    <meta charset="utf-8" />

    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <div>
        <div>Hello world</div>

        {{! Коментарь }}

        <!-- HTML коментарь -->

        {{!-- <div>Hello world</div> --}}

    </div>
    <p>Userlist</p>
    <ul>
      {{#each users}}
        <li>{{name}} {{surname}}, Age: {{age}}</li>
      {{/each}}
    </ul>
  </body>
</html>