<!DOCTYPE html>
<html>
  <head>
    <title>Index page</title>
    <meta charset="utf-8" />

    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <div>
        <div>Hello world</div>

        {{! Коментарь }}

        <!-- HTML коментарь -->

        {{!-- <div>Hello world</div> --}}
    </div>
  </body>
</html>